html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: Open Sans, Arial, Helvetica;
  font-size: 0.8em;
}

header, footer{
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  padding: 0em;
  background-color: #999999;
  font-size: 1.2em;
  color: white;
  vertical-align: middle;
  text-align: center;
  display:inline-flex;
}

header{
  height:3.2em;
}

#siteicon{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-flex;
}

nav a {
  overflow: hidden;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}

nav a:hover {
  background-color: #dbdbdb;
  color: black;
}

footer{
  text-align: center;
  left: 0;
  bottom: -3em;
  box-sizing: border-box;
  clear: both;
  margin-top: 0.5em;
}

body{
  background-color: #dbdbdb;
  padding: 0;
  margin: 0;
  min-width: 640px;
  min-height: 100%;
  height: 100%;
}

main {
  box-sizing: border-box;
  padding-bottom: 35em;
}

button{
  background-color: #696969;
  color:white;
  border:none;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#info{
  padding-left: 2%;
}
#icon{
  margin-right: 5.5em;
  height: 30%;
  width: 5%;
  object-fit: cover;
  transform: scale(0.17);
}
#biglogo{
  margin-right: 0;
  height: 15%;
  width: 15%;
  object-fit: cover;
}
