html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: Open Sans, Arial, Helvetica;
  font-size: 0.8em;
}

header, footer{
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  padding: 0em;
  background-color: #999999;
  font-size: 1.2em;
  color: white;
  vertical-align: middle;
  text-align: center;
  display:inline-flex;
}

header{
  height:3.2em;
}

#siteicon{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-flex;
}

nav a {
  overflow: hidden;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}

nav a:hover {
  background-color: #dbdbdb;
  color: black;
}

footer{
  text-align: center;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  clear: both;
  margin-top: 0.5em;
}

body{
  background-color: #dbdbdb;
  padding: 0;
  margin: 0;
  min-width: 640px;
}

main {
  box-sizing: border-box;
  padding-bottom: 35em;
}


#buttons {
  padding: 1em;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  width: 70%;

}

table, th, td{
  font-size: 1.3em;
  table-layout: fixed;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  border-collapse: collapse;
  border: 0.1em solid black;
}

tr:nth-child(1){
  background-color: black;
  color:white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover{
  background-color: white;
}
tr:nth-child(1):hover{
  background-color: black;
}


button{
  background-color: #696969;
  color:white;
  border:none;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#info{
  padding-left: 2%;
}
#icon{
  margin-right: 5.5em;
  height: 30%;
  width: 5%;
  object-fit: cover;
  transform: scale(0.17);
}
